@import "~bootstrap/scss/bootstrap";

// COLORS PALLETE BUTTON
.btn-red {
  background-color: #ef5350 !important;
  color: white !important;
}

.btn-purple {
  background-color: #ab47bc !important;
  color: white !important;
}

.btn-pink {
  background-color: #ec407a !important;
  color: white !important;
}

.btn-indigo {
  background-color: #5c6bc0 !important;
  color: white !important;
}

.btn-blue {
  background-color: #2196f3 !important;
  color: white !important;
}

.btn-light-blue {
  background-color: #039be5 !important;
  color: white !important;
}

.btn-cyan {
  background-color: #0097a7 !important;
  color: white !important;
}

.btn-teal {
  background-color: #26a69a !important;
  color: white !important;
}

.btn-green {
  background-color: #43a047 !important;
  color: white !important;
}

.btn-light-green {
  background-color: #689f38 !important;
  color: white !important;
}

.btn-orange {
  background-color: #ef6c00 !important;
  color: white !important;
}

.btn-deep-orange {
  background-color: #ff5722 !important;
  color: white !important;
}

.btn-blue-grey {
  background-color: #607d8b !important;
  color: white !important;
}
